<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
    <h1>用户列表</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>头像</th>
                <th>姓名</th>
                <th>邮箱</th>
                <th>更多信息</th>
                <th>操作</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>
                    <img src="/static/Xiaomi MIX Alpha.jpg" alt="" style="height: 50px">
                </td>
                <td>张三</td>
                <td>123456@xx.com</td>
                <td>
                    <a href="http://www.chinaunicom.com.cn/about/leaders.html" target="_blank">点击查看详细</a>
                </td>
                <td>
                    编辑
                    删除
                </td>
            </tr>

            <tr>
                <td>1</td>
                <td>
                    <img src="/static/Xiaomi MIX Alpha.jpg" alt="" style="height: 50px">
                </td>
                <td>张三</td>
                <td>123456@xx.com</td>
                <td>
                    <a href="http://www.chinaunicom.com.cn/about/leaders.html" target="_blank">点击查看详细</a>
                </td>
                <td>
                    编辑
                    删除
                </td>
            </tr>

            <tr>
                <td>1</td>
                <td>
                    <img src="/static/Xiaomi MIX Alpha.jpg" alt="" style="height: 50px">
                </td>
                <td>张三</td>
                <td>123456@xx.com</td>
                <td>
                    <a href="http://www.chinaunicom.com.cn/about/leaders.html" target="_blank">点击查看详细</a>
                </td>
                <td>
                    编辑
                    删除
                </td>
            </tr>

            <tr>
                <td>1</td>
                <td>
                    <img src="/static/Xiaomi MIX Alpha.jpg" alt="" style="height: 50px">
                </td>
                <td>张三</td>
                <td>123456@xx.com</td>
                <td>
                    <a href="http://www.chinaunicom.com.cn/about/leaders.html" target="_blank">点击查看详细</a>
                </td>
                <td>
                    编辑
                    删除
                </td>
            </tr>
        </tbody>
    </table>


</body>
</html>